.category-page .table-header div, 
.category-page .table-row div {
    border-right: none;
}

.category-page .category-grid {
    display: grid;
    grid-template-columns: 1fr 40px; 
    align-items: center;
}

/* Flytta själva ikonen till höger i sin lilla ruta */
.category-page .action-icons {
    justify-content: flex-end; 
    padding-right: 20px;   
}


/* Ta bort rutan runt soptunnan */
.category-page .action-icons,
.category-page .btn-icon {
    background: transparent;
    border: none;
    box-shadow: none;  
}
