.admin-panel h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    max-width: 500px; 
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea, 
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
}

.form-group small {
    color: #666;
    display: block;
    margin-top: 4px;
}

.btn-add {
    margin-top: 10px;
    cursor: pointer;
    background-color: #dee7de;
}

.btn-add:hover {
    background-color: #b3cbb3; 
}

#image-upload {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 7px 0;
    cursor: pointer;
    background-color: #dee7de;
    border: 1px solid #000;
    border-radius: 8px; 
    text-align: center;
    width: 75px;
    transition: background-color 0.2s;
    font-size: 0.7rem;   
    font-weight: bold;     
    font-family: inherit; 
}

.custom-file-upload:hover {
    background-color: #e6c2fa;
}

input[type="file"] {
    border: none;
    background: #fffdfdf5;
    padding: 20px;
}

.admin-panel input[name="sku"], 
.admin-panel input[name="price"] {
    max-width: 150px;
}

.admin-panel input[name="name"],
.admin-panel input[name="createdAt"] {
    max-width: 250px;
}

.admin-panel input[name="brand"], 
.admin-panel select[name="categoryId"],
.admin-panel textarea[name="description"] {
    max-width: 350px;
}

/* Döljer pilarna för Chrome, Safari, Edge och Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}