/* --- LAYOUT FÖR ADMIN-PANELEN --- */

.container {
    display: flex; /* Lägger sidebar och main bredvid varandra */
    min-height: 100vh;
}

/* Sidebar-menyn till vänster */
.sidebar {
    width: 200px;
    background-color: #bae0f7;
    border-right: 1px solid black;
    padding: 20px 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px 20px;
}

.sidebar li.selected {
    font-weight: bold;
}

.sidebar li:not(.selected) a {
    font-weight: normal;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%; /* Viktigt så den tar upp hela bredden */
}

/* Top bar rubriken */
.top-bar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.top-bar h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: left; /* Admin brukar vara vänsterställt */
}

/* --- TABELLEN --- */

.admin-panel {
    flex: 1; 
    font-family: Arial, sans-serif;
    padding: 40px;
    background-color: #fffdfdf5;
}

.product-table {
    width: 100%;
    max-width: 800px; 
    border: 1px solid black;
}

.table-header,
.table-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 70px; 
}

.table-header {
    background: #c8dac8;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.table-row {
    border-bottom: none;
}

.table-row div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;    
    border-right: none;
    width: 100%;
    text-align: center;
}

/* Zebra-randning (varannan rad grå) */
.table-row:nth-child(even) {
    background-color: #f1e4e4;
}

.table-row div {
    padding: 10px;
    border-right: 1px solid black;
}

.table-header div {
    padding: 4px 10px; 
    border-right: 1px solid black;
}

.table-header div:last-child,
.table-row div:last-child {
    border-right: none;
}

/* --- KNAPPAR & IKONER --- */

.btn-add {
    display: inline-flex;
    align-items: center;
    background-color: #dee7de;
    padding: 8px 15px;
    border: 1px solid #000;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    
}


.delete-icon {
    color: #333;
    transition: color 0.2s;
    font-size: 1rem;
}

.delete-icon:hover {
    color: red;
}
