
        /* -- PRODUKTKORTEN index.html -- */
.product-grid h2  {
  display: none;
}

.product-grid  {
        margin: 0;
      }

.product-grid h2  {
  text-align: center;
  margin: 1rem 0;
}

.product-grid .items  {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.product-card  {
  text-decoration: none;
  color: black;
  display: block;
  padding: 0;
}

.product-card a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  position: relative;
}

.product-card .product-details-toprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
  padding-top: 0.5rem;
  min-width: 0; 
}

.product-card .name {
  white-space: nowrap;
  flex: 1; 
}

.product-card .price {
  white-space: nowrap;
  margin-left: 10px;
  flex-shrink: 0; 
  display: block;
}

.image-container {
  position: relative;
  width: 100%;
  display: block;
}

.image-container img  {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
}

.favorite-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  font-size: 1.5rem;
  color: antiquewhite;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
}

.favorite-btn i.bi-heart-fill {
    color: red;
}

.product-card .brand  {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.product-card .badge  {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: rgb(216, 63, 63); 
  color: white;
  border-radius: .4rem;
  padding: 10px 16px;
  font-size: 0.75rem;
  font-family: sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 480px)  {
        .product-grid .items {
          grid-template-columns: 1fr 1fr;
        }
      }

@media screen and (min-width: 480px)  {
  html {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px)  {
  .product-grid .items {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem; 
    padding: 2rem;
  }
}