.auth-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    font-family: sans-serif;
}

.auth-container h1 {
    font-weight: 500;
    margin-bottom: 30px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    border-radius: 4px;
}

.register-btn {
    width: 100%;
    background: #dee7de;
    border: 1px solid #000000;
    padding: 12px;
    border-radius: 4px; 
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.register-btn:hover {
    background-color: #b3cbb3; 
}