              /* -- Footer -- */

.footer  {
  width: 100%;
  border: 1px solid black;
  background-color: #d5e8f3; 
  text-align: center;
  padding: 2rem 0 1rem 0; 
  font-family: sans-serif;
  }

.footer-content  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  text-align: left;
  gap: 80px;
  padding: 0 0 20px 20px; 
  margin: 0;
}

.footer-title  {
    font-size: 1rem; 
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    display: block;
}

.footer-list  {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.footer-link  {
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
  color: black;
  font-size: 0.9rem;
}

.accordion-toggle  {
  display: none;
}

@media (max-width: 479px) {
  .footer-content  {
    flex-direction: column;
    gap: 0;
    padding: 0;
    width: 100%;
    margin-top: 0;
    
  }

  .footer  {
    background-color: #ffffff;
    border-top: 1px solid #000;
    padding-top: 0;
    padding-bottom: .5rem;
  }

   .footer-bottom  {
    padding-top: 20px;    
    padding-bottom: 0;  
    margin-bottom: 0;    
    border: none;        
    background-color: white; 
  }

  
  .accordion-item  {
    border: 1px solid black;
    margin-bottom: -1px;
    width: 100%;
  }

  .accordion-item:first-child .footer-title  {
    background-color: rgb(137, 203, 241);
  }

  .footer-title  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .25rem .25rem;
    margin: 0;
    cursor: pointer;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
  }

  .accordion-collapse  {
    max-height: 0;
    overflow: hidden;
    background-color: white;
    text-align: left;
    background-color: transparent;
  }

  .accordion-toggle:checked ~ .accordion-collapse  {
    max-height: 500px; 
  }

    .accordion-body  {
    padding: 1rem 1.25rem;
  }
}

.footer-bottom  {
  display: block;
  width: 100%;
  text-align: center; 
  padding: 40px 0 20px 0; 
  clear: both;
  font-size: 0.9rem;
  color: black;
}